body{
    font-family: 'Roboto', sans-serif;
}

.header{
    padding: 25px;
    display: flex;
    justify-content: center;
}

button{
    padding: 20px;
    margin: 10px;
    border-style: none;
    border-radius: 7px;
    background-color: gray;
    color: white;
    width: 140px;
    font-size: 1.1rem;
}

button:hover{
    cursor: pointer;
    background-color: gainsboro;
}

.content{
    padding: 15px;
}

.content li{
    background-color: gainsboro;
    margin-bottom: 2px;
    padding: 15px;
    border-radius: 7px;
}

.content li:hover{
    cursor: pointer;
    color: white;
    border-top-left-radius: 20px;
}